<% content_for :page_title, "Edit Department" %>
<% content_for :page_subtitle, "Update department information" %>

<div class="max-w-2xl mx-auto">
  <div class="rounded-lg border border-border bg-surface dark:border-gray-800 p-6">
    <%= render "form", department: @department %>
  </div>
</div>
