<% content_for :page_title, "Edit Holiday" %> <% content_for :page_subtitle, "Update holiday" %> 
<div class="max-w-2xl mx-auto"> 
  <div class="rounded-lg border border-border bg-surface p-6"> <%= render "form", holiday: @holiday, page_title: "Edit Holiday", page_subtitle: "Update holiday" %> </div>
 </div>
